    @{ Dictionary<string, List<Tuple<string, string,string>>> links = ViewBag.authLinks;
        if (links == null) { links = new Dictionary<string, List<Tuple<string, string,string>>>(); }
    }

<li class="heading">
    <h3 class="uppercase">Menu</h3>
</li>


@foreach (var page in links)
{
    if (page.Value.Count != 0)
    {
<li class="nav-item">
    <a href="javascript:;" class="nav-link nav-toggle">
        <i class="icon-diamond"></i>
        <span class="title">@page.Key</span>
        <span class="arrow"></span>
    </a>


    <ul class="sub-menu" style="display: none;">
      @foreach (var link in page.Value)
      {
        <li class="nav-item">
            <a href="@Url.Action(link.Item2, link.Item1)"><span class="title">@link.Item3</span></a>
        </li>



      }
    </ul>


</li>
    }
}